<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" th:action="@{/register/add}" th:object="${newUser}">
    <ul th:each="msg : ${msgList}">
        <li th:text="${msg}"></li>
    </ul>
    <br>
    <label for="username">Username:</label><input id="username" th:field="*{userName}" type="text"/>
    <br>
    <label for="password">Password:</label><input id="password" th:field="*{passWord}" type="password"/>
    <br>
    <input type="submit" value="Register">
</form>

</body>
</html>
